.btn {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-radius:10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    --button--navbar: var(--primary);
    --button--default: var(--primary);
    --button--form: var(--primary);
    --button--imdb: var(--linkcolor);
    --button--disabled-text: lightgrey;
    --button--disabled: dimgrey;
}

.btn:disabled {
    background-color: var(--button--disabled-text);
    color: var(--button--disabled);
}

.btn--navbar {
    background: var(--primary);
    background: linear-gradient(129deg, var(--secondary-light)  100%), var(--secondary) 26%, var(--primary) 0% ;
    border: none;
    color: black;
    margin-top: 4px;
    margin-right: 4px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn--navbar:hover {
    background-color: var(--primary);
    transition: 0.7s;
}

.btn--default {
    background-color: var(--button--default);
    color: var(--white);
    border: none;
    margin-top: 10px;
}

.btn--form {
    background-color: var(--button--form);
    color: var(--white);
    border: none;
    margin-top: 20px;
}

.btn--imdb {
    background-color: var(--button--imdb);
    color: var(--white);
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn--small {
    padding: 10px 15px;
    font-size: 12px;
}

.btn--medium {
    padding: 8px 5px;
    font-size: 15px;
}


